
# If using LM studio
# AI_PROVIDER=gemma
# GEMMA_API_URL=http://localhost:1234/v1/chat/completions
# GEMMA_API_KEY=lm-studio
# GEMMA_MODEL=google/gemma-3-1b
# AI_TIMEOUT_SECONDS=120
# MONGODB_URI=mongodb://localhost:27017
# DATABASE_NAME=english_coach
# SECRET_KEY=english-coach
# MAX_CONTEXT_MESSAGES=8

AI_PROVIDER=gemma
GEMMA_API_URL=
GEMMA_API_KEY=
GEMMA_MODEL=
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=english_coach
SECRET_KEY=english-coach
MAX_CONTEXT_MESSAGES=8
